<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:text="${title}"></title>
</head>

<body>

<h3>Hello! Welcome to Web Security API</h3>

<ul style="list-style: none;">
    <li><a href="http://localhost:8080/about">About</a></li>
    <br>
    <li><a href="http://localhost:8080/info">Info</a></li>
    <br>
    <li><a href="http://localhost:8080/person">Persons</a></li>
    <br>
    <li><a href="http://localhost:8080/subscription">Subscriptions</a></li>
    <br>
    <li><a href="http://localhost:8080/admin">Admin (for admins only)</a></li>
    <br>
    <li><a href="http://localhost:8080/blocked">Blocked users (for admins only)</a></li>
</ul>

</body>

</html>